{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/tmttestcase/testcase.js') }}"></script>
{% endblock %}

{% block title %}{{ 'Testfall neu'|trans }}{% endblock %}

{% block content %}
{% if errors is defined %}{{ errors }}{% endif %}

{% if testcase is defined %}
{% set data = testcase.data|json_decode %}
<form action="{{ path('tmt_testcase_update', {
    'projectId': app.request.get('projectId'),
    'testcaseId': testcase.id
}) }}" method="post" class="container form-style-testcase" autocomplete="off" novalidate>
{% else %}
<form action="{{ path('tmt_testcase_create', {'projectId': app.request.get('projectId')}) }}" method="post" class="container form-style-testcase" autocomplete="off" novalidate>
{% endif %}
    <div class="column full">
        <label for="title">Titel</label>
        <input type="text" id="title" name="testcase[title]" value="{% if testcase is defined %}{{ testcase.title }}{% endif %}" />
    </div>
    <div class="column full">
        <label for="description">Beschreibung</label>
        <textarea id="description" name="testcase[description]">{% if testcase is defined %}{{ testcase.description }}{% endif %}</textarea>
    </div>
    <div class="clearfix">
        <div class="column full no-border">
            <label for="precondition">Vorbedingung</label>
        </div>
        <div class="column three-fourth">
            <textarea id="precondition" name="testcase[precondition]">{% if testcase is defined %}{{ testcase.precondition }}{% endif %}</textarea>
        </div>
        <div class="column fourth last">
            <input type="text" id="preconditionId" name="testcase[preconditionId]" value="{% if testcase is defined %}{{ testcase.preconditionId }}{% endif %}" />
        </div>
    </div>
    <div class="clearfix">
        <div class="column full no-border">
            <label for="postcondition">Nachbedingung</label>
        </div>
        <div class="column three-fourth">
            <textarea id="postcondition" name="testcase[postcondition]">{% if testcase is defined %}{{ testcase.postcondition }}{% endif %}</textarea>
        </div>
        <div class="column fourth last">
            <input type="text" id="postconditionId" name="testcase[postconditionId]" value="{% if testcase is defined %}{{ testcase.postconditionId }}{% endif %}" />
        </div>
    </div>

{% if data is not defined %}
    {% set data = [['','']] %}
{% endif %}

{% for case in data %}
    <div class="testcase-data-block">
        <div class="add column half" data-testcase="prepend">
            <span class="icon-plus-square success pointer"></span>
        </div>
        <div class="add column half" data-testcase="delete">
            <span class="icon-minus-square error pointer right"></span>
        </div>
        <div class="clearfix column full testcase-a">
            <label>Testschritt</label>
            <textarea name="testcase[data][]">{{ case[0] }}</textarea>
        </div>
        <div class="clearfix column full testcase-b">
            <label>Erwartetes Ergebnis</label>
            <textarea name="testcase[data][]">{{ case[1] }}</textarea>
        </div>
    </div>
{% endfor %}

    <div class="add column full" data-testcase="append">
        <span class="icon-plus-square success pointer"></span>
    </div>
    <div class="column full clearfix">
        <button type="submit">{{ 'Speichern'|trans }}</button>
    </div>
    <div class="clear"></div>
</form>
{% endblock %}
