{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block title %}{{ 'Projekt (neu)'|trans }}{% endblock %}

{% block content %}

{% if form.vars.value.id is defined %}
    <form method="post" class="form-style-testcase" action="{{ path('tmt_project_update', {'projectId': form.vars.value.id}) }}" autocomplete="off" novalidate>
{% else %}
    <form method="post" class="form-style-testcase" action="{{ path('tmt_project_create') }}" autocomplete="off" novalidate>
{% endif %}

{% if not form.vars.valid %}
        <div class="msg-box error">
            <div class="msg-box-description">
            {{ form_errors(form.name) }}
            {{ form_errors(form.template) }}
            </div>
            <div class="clear"></div>
        </div>
{% endif %}

        {{ form_widget(form._token) }}
        <div class="column full">
        {{ form_label(form.name) }}{{ form_widget(form.name) }}
        </div>
        <div class="column full">
        {{ form_label(form.template) }}{{ form_widget(form.template) }}
        </div>
        <div>
            <label>&nbsp;</label>
            <button type="submit">{{ 'Speichern'|trans }}</button>
        </div>
    </form>
{% endblock %}
