{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block title %}{{ 'Test'|trans }}{% endblock %}

{% block content %}
<table class="testcase-index">
{% for test in tests %}
{% set data = test.data|json_decode %}
{% if test.userAgent.id is defined %}
    {% set icon = test.userAgent.json|json_decode %}
{% endif %}
<tr>
    <td class="testcase-index-icon align-center">
        {% if test.passed %}
            <span class="icon-check success"></span>
        {% else %}
            <span class="icon-times error"></span>
        {% endif %}
    </td>
    <td>{{ test.username }}</td>
    <td class="hide-on-media-change">
        <span class="icon-calendar notice"></span> {{ test.date|date('d.m.Y') }}
    </td>
    <td class="hide-on-media-change">
        <span class="icon-clock-o notice"></span> {{ test.date|date('H:i') }}
    </td>
    <td>
        {% if icon is defined %}
        <span class="icon-{{ icon.iconOs }} info" title="{{ icon.os ~ ' ' ~ icon.osVersion }}"></span>
        {% endif %}
    </td>
    <td>
        {% if icon is defined %}
        <span class="icon-{{ icon.iconBrowser }} info" title="{{ icon.browser ~ ' ' ~ icon.browserVersion }}"></span>
        {% endif %}
    </td>
    <td>{{ data.version }}</td>
    {% if is_granted('ROLE_TESTCASE_ADMIN') %}
    <td class="testcase-index-icon align-center">
        <a href="{{ path('tmt_test_confirm', {
                    'projectId': app.request.get('projectId'),
                    'testcaseId': app.request.get('testcaseId'),
                    'testId': test.id
                }) }}">
            <span class="icon-trash-o error"></span>
        </a>
    </td>
    {% endif %}
</tr>
{% if test.userAgent.id is not defined and is_granted('ROLE_TESTCASE_ADMIN') %}
<tr>
    <td colspan="8" style="font-size: 10px">
        <a href="{{ path('tmt_useragent_edit', {
            'projectId': projectId,
            'hash': test.userAgent|md5
        }) }}">
            {{ test.userAgent }}
        </a>
    </td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
