{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/tmttestcase/testcase.js') }}"></script>
{% endblock %}

{% block title %}{{ 'Testfall neu'|trans }}{% endblock %}

{% block content %}
{% if errors is defined %}
{% for error in errors %}
    {{ error }}
{% endfor %}
{% endif %}

{% if testcase is defined %}
{% set data = testcase.data|json_decode %}
<form action="{{ path('tmt_test_create', {
    'projectId': app.request.get('projectId'),
    'testcaseId': testcase.id
}) }}" class="form-style-testcase" method="post">

{% endif %}
    <div class="column full">
        <label>
            {{ testcase.title }}
            <span class="right"># {{ testcase.id }}</span>
        </label>
        <p class="fs1">{{ testcase.description|display_testcase }}</p>
    </div>

    {% if testcase.precondition is not empty or testcase.preconditionId != 0 %}
    <div class="column half">
        <label>
            <a href="{{ path('tmt_test_run', {
                'projectId': app.request.get('projectId'),
                'testcaseId': testcase.preconditionId
            }) }}">Vorbedingung</a>
        </label>
        {% if testcase.precondition is not empty %}
            <p class="fs1">{{ testcase.precondition }}</p>
        {% elseif preTestcase.title is defined and preTestcase.title is not empty %}
            <p class="fs1">{{ preTestcase.title }}</p>
        {% endif %}
    </div>
    {% endif %}

    {% if testcase.postcondition is not empty or testcase.postconditionId != 0 %}
    <div class="column half">
        <label>
            <a href="{{ path('tmt_test_run', {
                'projectId': app.request.get('projectId'),
                'testcaseId': testcase.postconditionId
            }) }}">Nachbedingung</a>
        </label>
        {% if testcase.postcondition is not empty %}
            <p class="fs1">{{ testcase.postcondition }}</p>
        {% elseif preTestcase.title is defined and postTestcase.title is not empty %}
            <p class="fs1">{{ postTestcase.title }}</p>
        {% endif %}
    </div>
    {% endif %}

    <div class="clear"></div>

{% if data is not defined %}
    {% set data = [['','']] %}
{% endif %}

{% for case in data %}
<div class="column full testcase {% if case['passed'] is defined and case['passed'] %}ok{% endif %}" data-id="{{ loop.index }}">
    <div class="case">
        <div class="testcase-count"># {{ loop.index }}</div>
        <div>{{ case[0]|display_testcase }}</div>
    </div>
    <div class="result">
        <div>{{ case[1]|display_testcase }}</div>
        <div class="p10 fs30">
            <div class="left pointer" data-testcase="ok"><span class="icon-check success"></span></div>
            <div class="right pointer" data-testcase="err"><span class="icon-warning warning"></span></div>
        </div>
    </div>
    <div class="error off">
        <input type="hidden" name="testcase[{{ loop.index }}][passed]" data-case="passed" value="{% if case['passed'] is defined and case['passed'] %}1{% else %}0{% endif %}" />
        <textarea class="error-msg" name="testcase[{{ loop.index }}][error]"  data-case="error">{% if case['passed'] is defined and case['passed'] %}{% else %}Bitte Ergebnis eintragen.{% endif %}</textarea>
    </div>
</div>
{% endfor %}

<button type="submit">Speichern</button>
</form>
<div class="clear"></div>
{% endblock %}
